= form_for @password do |f|
  %p
    %div.title
      = image_tag CUSTOM_LOGO, width: '30%'
      %br
      %span.tagline Envío seguro de contraseñas
  %p.payload
    = f.text_field(:payload, { :class => "password", :value => PAYLOAD_INITIAL_TEXT, :onfocus => "prepareTextField(this)", :onblur => "revertTextField(this)", :autocomplete => "off" })
  %p
    Eliminar el enlace compartido y la contraseña guardada tras:
    %p.slider_box
      = range_field_tag("password_expire_after_days", EXPIRE_AFTER_DAYS_DEFAULT, {:name => "password[expire_after_days]", :class => "slider", :min => EXPIRE_AFTER_DAYS_MIN, :max => EXPIRE_AFTER_DAYS_MAX, :step => "1", :onchange => "showDaysValue(this.value)", :oninput => "showDaysValue(this.value)"})
      %span#daysrange
        == #{EXPIRE_AFTER_DAYS_DEFAULT} Días
    %p.slider_box
      = range_field_tag("password_expire_after_views", EXPIRE_AFTER_VIEWS_DEFAULT, {:name => "password[expire_after_views]", :class => "slider", :min => EXPIRE_AFTER_VIEWS_MIN, :max => EXPIRE_AFTER_VIEWS_MAX, :step => "1", :onchange => "showViewsValue(this.value)", :oninput => "showViewsValue(this.value)"})
      %span#viewsrange
        == #{EXPIRE_AFTER_VIEWS_DEFAULT} Visualizaciones
    %br
      %span.note
        (lo que antes ocurra)
    - if DELETABLE_BY_VIEWER_PASSWORDS
      %p.notes
        = check_box_tag "password[deletable_by_viewer]", nil, DELETABLE_BY_VIEWER_DEFAULT
        Permitir que los destinatarios puedan eliminar la contraseña antes de que esta expire

  %p= f.submit(:value => "Push it!", :class => "pushit", 'data-disable-with' => "Pushing...")


%p.notes
  %span.tip
    * Consejo: introducir únicamente la contraseña en el recuadro; cualquier otro tipo de información de identificación puede poner en riesgo la seguridad.
  %p
  %span.note
    Todas las contraseñas se encriptan y solo son accesibles para quienes tengan el enlace.
  %br/
  %span.note
    Tras expirar, las contraseñas encriptadas se eliminan por completo de la base de datos.

%p.notes
  = link_to "Teimas", 'https://teimas.com'
  \|
  = link_to "Aviso legal", 'https://teimas.com/es/legal'
  \|
  = link_to "Powered By", 'https://pwpush.teimas.com/pages/about'
