- if @password.expired
  %p
    %div.title
      = image_tag CUSTOM_LOGO, width: '55%'
      %br
  %p.large-yellow-font
    Lo sentimos, pero este enlace ha expirado.
  %p
    - if @password.deleted
      El enlace lo eliminó manualmente una de las personas que lo consultó y la contraseña se ha eliminado de la base de datos.
    - elsif @password.views_remaining == 0
      == Este enlace ha llegado al número máximo de visualizaciones (#{@password.expire_after_views}) y la contraseña ha sido eliminada de la base de datos.
    - elsif @password.days_remaining == 0
      == Este enlace ha superado su fecha de caducidad (#{@password.expire_after_days} días) y la contraseña ha sido eliminada de la base de datos.
  %p
    Si lo necesita, póngase en contacto con quién le envío este enlace.

- else
  %p
    %div.title
      = image_tag CUSTOM_LOGO, width: '30%'
      %br
  - if @first_view
    .share_note
      == Usa el siguiente enlace para compartir la contraseña:
      %div.input_group
        %input#secret_url{ :value => "#{request.url}", :spellcheck => "false", :readonly => true }
        %button.copy-secret-url{ "data-clipboard-target" => "#secret_url" }
          = image_tag('button_up.png')
      %span.note
        Esta nota no se volverá a mostrar...
        %br/
        ¿No me crees? Venga, recarga la página...
  %p.normal-yellow-font
    La contraseña es...

  %div.payload.spoiler.notranslate#pass{ "translate" => "no" }<
    = @payload

  %button#clipboard-button.copy-to-clipboard{ "data-clipboard-target" => "#pass" }
    Copiar al portapapeles

  %p.pwinstructions
    Recupere y guarde esta contraseña en un lugar seguro, preferiblemente en un gestor de contraseñas.

  %p
    - if @password.views_remaining == 0
      == Este enlace se desactivará en #{pluralize(@password.days_remaining, 'día')} o #{@password.views_remaining} visualizaciones más (esta es la última visualización)
    - else
      == Este enlace secreto se eliminará en #{pluralize(@password.days_remaining, 'día')}
      == o #{pluralize(@password.views_remaining, 'visualizaciones más')} (lo que primero ocurra).
  - if @password.deletable_by_viewer
    %p{ :style => 'font-size: .85em;' }
  = link_to "Nah... Ya la he guardado. Elimina este enlace secreto ahora.", password_path, :id => @password.url_token, :method => :delete, :data => { :confirm => 'Esto eliminará el enlace secreto y la contraseña de la base de datos para siempre. ¿Estás seguro?' }
